<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBNBbmV5npJglp-xO7y2vKBkuc0fAfrVkM</string>
	<key>GCM_SENDER_ID</key>
	<string>480780627365</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wallet</string>
	<key>PROJECT_ID</key>
	<string>wallet-158696</string>
	<key>STORAGE_BUCKET</key>
	<string>wallet-158696.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:480780627365:ios:789c5cd986b5cc68b0cc4c</string>
</dict>
</plist>